body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(188, 188, 244); /* Couleur de fond du corps */
}

.container {
    text-align: center;
}

.quote-container {
    background-color: white; /* Fond blanc pour la citation */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-btn:hover {
    background-color: #45a049; /* Assombrir légèrement au survol */
}


  // Media query for pc
  @media only screen and (min-width: 481px) {
   
  }
